.item
{
    display: flex;
    margin:10px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.item__Image{
    margin: 10px;
    object-fit: contain;
    height: 180px;
    width: 180px;
}

.item__Info{
    padding-left: 20px;
}
.item__Rating{
    display: flex;
}
.item__price{
    padding: 0;
    margin:0;
}
.item__Remove{
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: #DDDD;
    background-color: white;
    margin:10px 0;
    color: rgba(255, 0, 0, 0.699);
    cursor: pointer;
}