.home{
    box-sizing: border-box;
}
.home__background{
    width: 100%;
    mask-image: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;
}

.home__Row{
    display: flex;
    z-index: 1;
    margin:0 5px;
}

.home__Row2{
    display: flex;
}
.categories{
    width: 100%;
    place-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;
    padding: 10px;    
}

.categories > h3{
    grid-column: 1 / span 2;
}
.categories>img{
    height: 100px;
}
.categories .seemore{
    font-size: 13px;
    color: #5BA4B1;
    text-decoration: none;
}

@media screen and (max-width: 1130px){
    .home__Row2{
        flex-wrap: wrap;
    }
    
}