.subTotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    max-height: 200px;
}
.subTotal > .description{
    font-size: 12px;
    line-height: 15px;
}

.subTotal >p{
    font-size: 18px!important;
    line-height: 24px!important;
}

.subTotal>button{
    background-color: #F7CA00;
    border-radius: 20px;
    width: 100%;
    height: 30px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

.gift{
    display: flex;
    align-items: center;
}
.gift >input{
    margin-right: 5px;
}

small>span{
    cursor: pointer;
    color: #5BA4B1;
}