.checkout{
    display: grid;
    place-items: center;
    border: 2px solid red;
}
.checkout>img{
    border: 2px solid black;
    width: 100px;
    text-align: center;
}

.wrapper{
    margin: 3rem 10px;
    flex-direction: column;
    display: flex;
    border: 2px solid black;
    align-items: center;
    padding:20px 26px!important;
}

.wrapper span{
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

.wrapper input{
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
}

.wrapper button{
    margin: 10px 0;
    padding:5px;
    font-size: 15px;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
}

.wrapper small{
    font-size: 12px!important;
    line-height: 1.5!important;
}